@font-face {
  font-family: "PT Sans Narrow", sans-serif;
  src: url("../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow", sans-serif;
  src: url("../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}