body {
  font-size: 18px;
  line-height: 27px;
  font-family: $default-font;
  color: $light-grey;
  font-style: normal;
  background-color: $dark-grey;
}

img {
  max-width: 100%;
  height: auto;

}