@import "normalize";
@import "fonts";
@import "libs";
@import "vars";
@import "scaffolding";
@import "mixins";

.wrapper {
  width: 320px;
  margin: 0 auto;
  /*background-color: red;
  min-height: 300px;*/
  @include mq($tablet) {
    width: 640px;
  }
  @include mq($desc) {
    width: 960px;
  }
}

.wrapper-fluid {
  width: auto;
  /*min-height: 350px;
  background-color: yellow;*/
  @include mq($tablet) {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}

