@import "normalize";
@import "fonts";
@import "libs";
@import "vars";
@import "scaffolding";
@import "mixins";

.wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: red;
  min-height: 300px;
  @include mq($tablet) {
    width: 640px;
  }
  @include mq($desc) {
    width: 960px;
  }
}



